.posts-wrap {
	padding: 10px;
}

.post-wrap {
	padding: 5px;
	border:  1px solid ;
}

.post-wrap:not(:last-child) {
	border-bottom: 0;
}

.post__id {
	color: cadetblue;
	font-size: 10px;
}

.post-title {
	font-weight: 600;
	color: chocolate;
	text-transform: uppercase;
}

.post-text {
	margin: 15px 0;
}
