.user-post {
	border: 1px solid;
	padding: 5px;
}
.user-post:not(:first-of-type) {
	border-top: none;
}
span {
	font-size: 10px;
	color: cadetblue;
}
h2 {
	margin-top: 0;
	line-height: 1;
}
h2::first-letter {
	text-transform: capitalize;
}
